.cook-list {
    list-style-type: none;
    width: 500px;
    margin: 0;
    padding: 0;
}

.cook-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}